@model SharkTDS.ViewModels.Setting.SettingIndexModel

<h2>Вход на сайт</h2>

<form asp-action="Index" asp-controller="Setting" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="MaxMindKey">MaxMindKey</label>
            <input type="text" asp-for="MaxMindKey" />
            <span asp-validation-for="MaxMindKey" />



            <input asp-for="Id" type="hidden" value="@Model.Id">
           

        </div>
        <div class="form-group">
            <label asp-for="TrashUrl">TrashUrl</label>
            <input type="text" asp-for="TrashUrl" />
            <span asp-validation-for="TrashUrl" />
        </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-outline-dark" />
            </div>
        </div>
</form>