@model SharkTDS.ViewModels.BaseView.BaseIndexModel


<tr>
    
    <td>MaxMind Дата обновления:</td>
    <td>@Model.MaxMindTime</td>
    <td> <a class="btn btn-primary" asp-controller="Base" asp-action="UpdateMaxMind"  role="button">Обновить</a></td>
</tr>